<table>
    <thead>
        <tr>
            <th>Post</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
{% for post in posts %}
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.reddit_url }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
