<h2>Created Games</h2>
<p>See the <a href="/admin/content/scheduled">scheduled content admin page</a>.</p>
<table>
    <thead>
        <tr>
            <th>Game</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
{% for game in games %}
    <tr>
        <td><a href="{{ game.url }}">{{ game.title }}</a></td>
        <td>{{ game.group }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>